footer
    .w3-row-padding.w3-content
        .w3-center
            p Copyright © 2017 PatineNaghshine | All Right Reserved
            p Web Design & Develop by Ali Rostami
            p
            a(href="#").w3-hover-text-blue
                i.fa.fa-facebook-official
            a(href="#").w3-hover-text-red
                i.fa.fa-google-plus-square
            a(href="#").w3-hover-text-red
                i.fa.fa-youtube-square
            a(href="#").w3-hover-text-blue
                i.fa.fa-linkedin