nav.w3-sidebar.w3-bar-block.w3-collapse.w3-top
    .w3-container.w3-display-container
        i.fa.fa.remove.w3-hide-large.w3-display-topright
        h1.logo Patine Naghshine
    .order
        ul
            li سفارش و مشاوره رایگان
            li 09124497829

    .w3-padding-32.w3-text-gray.w3-right-align
        a.w3-bar-item.w3-button(href="#about") درباره
        a.w3-bar-item.w3-button(href="#service") خدمات
        a.w3-bar-item.w3-button(href="#projects") پروژه ها
        a.w3-bar-item.w3-button(href="#aparat") آپارات
        a.w3-bar-item.w3-button(href="#tutorial") آموزش
        a.w3-bar-item.w3-button(href="#tools") ابزارها
        a.w3-bar-item.w3-button(href="#articles") مقاله ها
        a.w3-bar-item.w3-button(href="#contact") تماس

    //Top menu on small screens
header.w3-bar.w3-top.w3-hide-large.w3-light-gray.w3-xlarge.mobile-margin.w3-row
    h1.w3-bar-item.logo-mobile.w3-rest.z-index Patine Naghshine
    .order.w3-col
        .order-mobile.w3-content
            p سفارش و مشاوره رایگان
            p 09124497829
    a.w3-bar-item.w3-button.w3-padding-24.w3-right.w3-rest.z-index(href="#menu")
        i.fa.fa-bars

    nav#menu
        ul
            li
                a.w3-bar-item.w3-button(href="#about") درباره
            li
                a.w3-bar-item.w3-button(href="#service") خدمات
            li
                a.w3-bar-item.w3-button(href="#projects") پروژه ها
            li
                a.w3-bar-item.w3-button(href="#aparat") آپارات
            li
                a.w3-bar-item.w3-button(href="#tutorial") آموزش
            li
                a.w3-bar-item.w3-button(href="#tools") ابزارها
            li
                a.w3-bar-item.w3-button(href="#articles") مقاله ها
            li
                a.w3-bar-item.w3-button(href="#contact") تماس