section.tutorial#tutorial
    .w3-row
        .border.w3-mobile
            .w3-right-align
                h4.w3-hide-large آموزش
                h3.w3-hide-medium.w3-hide-small آموزش
                P دوره ها و محصولات آموزشی پتینه نقشینه به زودی همینجا با شما