section.tools.parallax-bg#tools
    .container
        .full-width-line.w3-center.w3-row
            h3 ابزارها / فروشگاه
        .flex-dir.w3-row.w3-content
            .w3-half.w3-right-align.w3-mobile
                p رنگ ها، قلم ها، مواد اولیه و هر ابزاری که برای اجرا میخواهید را در فروشگاه اینترنتی پتینه نقشینه پیدا کنید

            .w3-half.w3-mobile
                a(href="", target='_blank').w3-border.w3-button.w3-disabled.dir فروشگاه
                    .w3-border.fa.fa-arrow-left.arrow-position
