section.about#about
    .w3-display-container.w3-container
        .w3-content.border
            .w3-right-align
                h4.w3-hide-large پتینه نقشینه متخصص هنر نقاشی دکوراتیو
                h3.w3-hide-small.w3-hide-medium
                    a(href="http://patinenaghshine.ir").w3-hover-text-gray پتینه نقشینه
                        =" "
                    span متخصص هنر
                        =" "
                    span.w3-nephritis تقلید از طبیعت
                        =" "
                    span / نقاشی دکوراتیو
                p در طول روز ما مشغول خلق یک طرح هنری زیبا در ملک شما و در طول شب مشغول تولید محتوای آموزشی در قالب ویدیو و فایل صوتی برای شما هستیم