section.projects#projects
    .w3-row
        .w3-mobile.w3-col.border.w3-content
            .w3-right-align
                h4.w3-hide-large نمونه کارها / پروژه های اخیر
                h3.w3-hide-small.w3-hide-medium نمونه کارها / پروژه های اخیر
                P در اینستاگرام بیشتر ببینید
                a(href="https://instagram.com/patineh.naghshineh", target='_blank').w3-border.w3-button.dir تماشا در اینستا
                    .w3-border.fa.fa-arrow-left.arrow-position

        .w3-mobile.w3-rest
           .w3-center.project-container
              img.w3-grayscale-min.w3-content.w3-card-4(src='../assets/img/sample-project.jpg' alt="tromp l'oeil")
              .w3-pannel.w3-rightbar.project-info.w3-content.w3-right-align
                  p این نقاشی به دور از شکل ظاهری آن در واقع سوژه ایست برای جلب نظر بیننده.
                  p این طرح به دلیل بزرگی شومینه ارائه شده که در عین حال که شکل ظاهری شومینه حفظ می شود بتوان جلوه بیشتری به آن داد و زیبایی شومینه را دو چندان کرد. دو بچه فرشته یک لوح با ارزش را نگهداری می کنند که در حقیقت چشم عمارت ویلایی می باشد.
                  em با پیوستن به
                    =" "
                    a(href="https://instagram.com/patineh.naghshineh", target='_blank').w3-hover-text-gray صفحه ی اینستاگرام پتینه نقشینه
                        =" "
                    span بیشتر شگفت زده خواهید شد