section.articles#articles
    .w3-row
        .border.w3-mobile
            .w3-right-align
                h4.w3-hide-large مقاله ها / وبلاگ
                h3.w3-hide-medium.w3-hide-small مقاله ها / وبلاگ
                P میخواهید درباره ی هنرهای تجسمی و حواشی آن بیشتر بدانید؟
                h5.w3-hide-small سرفصل های برگزیده:
                ul.w3-hide-small
                    li نقش پتینه در دکوراسیون
                    li تئوری و شناخت رنگ ها
                    li آموزش مجازی پتینه
                    li در باب ابزارشناسی
                a(href="", target='_blank').w3-border.w3-button.w3-disabled.dir وبلاگ
                    .w3-border.fa.fa-arrow-left.arrow-position