section.service#service
    .w3-hide-medium.w3-hide-small
        .w3-content.w3-row-padding.responsive-alt
            .w3-half.w3-center.w3-gray
                h3.serv خدمات
            .w3-half.w3-center.w3-light-gray
                h3 امکانات

        .w3-row
            .w3-col.sides-col
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/interior-design.svg")
                    .ico-box.inline.id-box
                        p امور دکوراسیون

            .w3-col.sides-col
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/motive.svg")
                    .ico-box.inline.m-box
                        p موتیف/نقاشی برجسته

            .w3-col.centered-line

            .w3-col.sides-col
                .w3-container
                    object.inline(type="image/svg+xml" data="../assets/img/painting-service.svg")
                    .ico-box.inline.ps-box
                        p اعزام اکیپ رنگ کاری حرفه ای

            .w3-col.sides-col
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/satisfaction.svg")
                    .ico-box.inline.cs-box
                        p اهمیت به رضایت مشتری


        .w3-row
            .w3-col.sides-col
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/decorative.svg")
                    .ico-box.inline.sec-row-box.dp-box
                        p تابلوهای دکوراتیو

            .w3-col.insides-col
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/paint.svg")
                    .ico-box.inline.sec-row-box
                        p نقاشی دیواری و سقفی

            .w3-col.border-box.w3-center
                .p-container
                    p امکانات
                    p خدمات

            .w3-col.insides-col
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/time.svg")
                    .ico-box.inline.sec-row-box
                        p تعهد زمان تحویل پروژه

            .w3-col.sides-col
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/quality-quantity.svg")
                    .ico-box.inline.sec-row-box
                        p کیفیت بالا کمیت پایین

        .w3-row
            .w3-quarter
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/gold-copper-silver.svg")
                    .ico-box.inline.sec-row-box
                        p ورق طلا، نقره و مس

            .w3-quarter
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/patina-gold3.svg")
                    .ico-box.inline.sec-row-box.p-box
                        p انواع الگوهای پتینه

            .w3-quarter
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/suggestion.svg")
                    .ico-box.inline.sec-row-box.offer-box
                        p ارائه پیشنهاد و ایده

            .w3-quarter
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/unique.svg")
                    .ico-box.inline.sec-row-box
                        p طراحی منحصر به فرد

    .w3-hide-large.w3-hide-small
        .w3-content.w3-row.responsive-alt
            .w3-half.w3-center.w3-gray
                h3.serv خدمات
            .w3-half.w3-center.w3-light-gray
                h3 امکانات

        .w3-row.w3-content
            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/interior-design.svg")
                    .ico-box.inline.sec-row-box.id-box
                        p امور دکوراسیون

            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/motive.svg")
                    .ico-box.inline.sec-row-box
                        p موتیف/نقاشی برجسته

            .w3-col.m3
                .w3-container
                    object.inline(type="image/svg+xml" data="../assets/img/painting-service.svg")
                    .ico-box.inline.sec-row-box
                        p اعزام اکیپ رنگ کاری حرفه ای

            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/satisfaction.svg")
                    .ico-box.inline.cs-box
                        p اهمیت به رضایت مشتری

        .w3-row.w3-content
            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/decorative.svg")
                    .ico-box.inline.sec-row-box.dp-box
                        p تابلوهای دکوراتیو

            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/paint.svg")
                    .ico-box.inline.sec-row-box
                        p نقاشی دیواری و سقفی

            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/time.svg")
                    .ico-box.inline.sec-row-box
                        p تعهد زمان تحویل پروژه

            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/quality-quantity.svg")
                    .ico-box.inline.sec-row-box
                        p کیفیت بالا کمیت پایین

        .w3-row.w3-content
            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/gold-copper-silver.svg")
                    .ico-box.inline.sec-row-box
                        p ورق طلا، نقره و مس

            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/patina-gold3.svg")
                    .ico-box.inline.sec-row-box.p-box
                        p انواع الگوهای پتینه

            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/suggestion.svg")
                    .ico-box.inline.sec-row-box.offer-box
                        p ارائه ایده و پیشنهاد

            .w3-col.m3
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/unique.svg")
                    .ico-box.inline.sec-row-box
                        p طراحی منحصر به فرد

    .w3-hide-large.w3-hide-medium
        .w3-content.w3-row.w3-center.w3-light-gray
            h4 خدمات

        .w3-row.w3-content.responsive-alt
            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/interior-design.svg")
                    .ico-box.inline.id-box
                        p امور دکوراسیون

            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/motive.svg")
                    .ico-box.inline.m-box
                        p موتیف

            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/decorative.svg")
                    .ico-box.inline.sec-row-box
                        p تابلوهای دکوراتیو

            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/paint.svg")
                    .ico-box.inline.sec-row-box
                        p نقاشی دیواری و سقفی

            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/patina-gold3.svg")
                    .ico-box.inline.sec-row-box
                        p انواع پتینه

            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/gold-copper-silver.svg")
                    .ico-box.inline.sec-row-box
                        p ورق طلا، نقره، مس


        .w3-content.w3-row.w3-center.w3-light-gray
            h4 امکانات

        .w3-row.w3-content.responsive-alt
            .w3-col.s6
                .w3-container
                    object.ps-ico.inline(type="image/svg+xml" data="../assets/img/painting-service.svg")
                    .ico-box.inline.ps-box
                        p خدمات رنگ کاری

            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/satisfaction.svg")
                    .ico-box.inline.cs-box
                        p رضایت مشتری

            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/time.svg")
                    .ico-box.inline.sec-row-box
                        p تعهد زمان تحویل

            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/quality-quantity.svg")
                    .ico-box.inline.sec-row-box
                        p کیفیت بالا

            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/suggestion.svg")
                    .ico-box.inline.sec-row-box
                        p ارائه پیشنهاد

            .w3-col.s6
                .w3-container
                    object.mg-ico.inline(type="image/svg+xml" data="../assets/img/unique.svg")
                    .ico-box.inline.sec-row-box
                        p طراحی منحصر به فرد



