section.video#aparat
    .logo-bg
        .w3-row
            .w3-mobile.w3-col.border.w3-content
                .w3-right-align
                    h4.w3-hide-large آپارات
                    h3.w3-hide-small.w3-hide-medium آپارات
                    P ویدیو های آموزشی تولید شده توسط بخش توسعه و آموزش گروه پتینه نقشینه. بکر و رایگان ...
                    h5.w3-hide-small.w3-hide-medium سرفصل های برگزیده:
                    ul.w3-hide-medium.w3-hide-small
                        li نقاشی دکوراتیو چیست؟
                        li چطور یک سطح را پتینه کنیم؟
                        li نقش رنگها در دکوراسیون داخلی چیست؟
                        li دلیل پرطرفدار بودن رنگ کرم قهوه ای در دکوراسیون داخلی ...

                    a(href="", target='_blank').w3-border.w3-button.w3-disabled.dir تماشا در آپارات
                        .w3-border.fa.fa-arrow-left.arrow-position

            .w3-mobile.w3-rest
                .w3-center.vid-content
                    .video-strip.w3-hide-small
                    .video-container.w3-content.w3-center.w3-container
                        .flex-video <iframe src="https://www.aparat.com/video/video/embed/videohash/XkLQn/vt/frame" height="135" width="240" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" ></iframe>